.card {
  width: 45%;
  height: 75px;
  padding: 4px 10px 11px 10px;
}

.card h2 {
  font-size: 11px;
  font-weight: 500;
}

.number {
  font-size: 39px;
  font-weight: 800;
  line-height: normal;
  display: flex;
  justify-content: center;
}

/* -------------------- APP STYLES --------------------  */

.mobile {
  width: 36%;
  height: 84px;
  min-height: 84px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile h2 {
  text-align: center;
}
