.card {
  width: 45%;
  height: 75px;
  padding: 4px 10px 11px 10px;
}

.card h2 {
  font-size: 11px;
  font-weight: 500;
}

.number {
  font-size: 39px;
  font-weight: 800;
  line-height: normal;
  display: flex;
  justify-content: center;
}

@media (max-width: 1224px) {
  .card {
    padding: 4px 5px 11px 5px;
  }
}

@media (max-width: 1201px) {
  .card {
    width: 100%;
    height: 100%;
    padding: 15px 10px 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .card h2 {
    text-align: center;
  }
}

/* -------------------- APP STYLES --------------------  */

.mobile {
  width: 36%;
  /* height: 84px; */
  min-height: 84px;
  padding: 9px 10px 16px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile h2 {
  text-align: center;
}
