.card {
  flex-grow: 1;
  padding: 15px 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.card h2 {
  font-size: 14px;
  font-weight: 500;
}

.content {
  min-width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overall {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overall .percentage {
  position: absolute;
}

.breakdown {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.breakdown .section .percentage {
  align-items: flex-start;
}

.breakdown .section .progressBar {
  margin-top: 4px;
}
