.card {
  width: 55%;
  height: 75px;
  padding: 9px 12px 4px 12px;
}

.card h2 {
  font-size: 11px;
  font-weight: 500;
}

.duration {
  display: flex;
  justify-content: center;
}

/* -------------------- APP STYLES --------------------  */

.mobile {
  width: 59%;
  /* min-height: 84px; */
  padding: 16px 12px 11px 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile h2 {
  margin-bottom: 4px;
  text-align: center;
}
