.pane {
  width: 100%;
  background-color: var(--light);
  padding: 20px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.snapshotsSection {
  display: flex;
  flex-direction: column;
  gap: 13px;
  /* margin: 0 -30px 0 -50px; change this number to adjust lesses margin for snapshots carousel */
  margin: 0 -32px 0 -32px; /* 32px is default react-sliding-pane padding */
}

.snapshotsSection h2,
.snapshotsSection p {
  /* margin-left: 50px; also this */
  margin-left: 32px; /* deafault padding as well */
}

.snapshots {
  width: 100%;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.snapshotItem {
  /* padding-right: 10px; */
  padding: 0 5px;
  width: fit-content;
}

.snapshotItem img {
  width: fit-content;
  height: 200px; /* to adjust snapshot size */
  object-fit: cover;
  border-radius: 7px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.infoBlock .row {
  display: flex;
}

.trendsSection {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.chartContainer {
  margin: 0 0 0 -40px;
}

.distributionSection {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.top3Section {
  display: flex;
  gap: 30px;
}

.top3 {
  width: 100%;
}

.top3 h2 {
  height: 36px;
}

.top3 ul {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.top3 ul li {
  height: 80px;
  padding: 0 15px;
  background-color: var(--background-color);
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.top3 ul .up {
  color: #0fd7a5;
}

.top3 ul .down {
  color: #d21616;
}

.top3 ul li span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.arrow.up {
  transform: rotateZ(-90deg);
}

.arrow.down {
  transform: rotateZ(90deg);
}

.arrow.up path {
  stroke: #0fd7a5;
}

.arrow.down path {
  stroke: #d21616;
}

.buttonContainer {
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
