.pane {
  width: 100%;
  background-color: var(--light);
  padding: 20px 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.status {
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  color: var(--primary);
}

.infoBlock {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.infoBlock .row {
  display: flex;
}

.snapshotGallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.snapshotImage {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 7px;
}

/*  TOGGLE SWITCH STYLES  */

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: var(--light);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.toggleSwitch input:checked + .slider {
  background-color: var(--primary);
}
.toggleSwitch input:focus + .slider {
  box-shadow: 0 0 1px var(--primary);
}
.toggleSwitch input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}
