.card {
  width: 30%;
  padding: 15px 19px 7px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card h2 {
  font-size: 14px;
  font-weight: 500;
}

/* -------------------- APP STYLES --------------------  */

.mobile {
  width: 100%;
  padding: 15px 19px;
}
