.modesContainer {
  width: 80%;
  height: 75vh;
  min-width: 680px;
  min-height: 560px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.mode {
  height: 100%;
  background-color: var(--light);
  border-radius: 15px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.2s;
}

.mode.active {
  background-color: var(--secondary);
}

.mode:not(.active):hover {
  background-color: var(--neutral);
}

.mode .descGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon {
  width: 80px;
  height: 80px;
  background-color: var(--dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mode h2 {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.32px;
}

.mode p {
  text-align: center;
  font-size: 13px;
  font-weight: 400;
}

/* -------------------- APP STYLES --------------------  */

.mobile.changeMode {
  /* overflow-x: hidden; */
}

.mobile .modesContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  min-width: auto;
  min-height: auto;
}

.mobile .mode {
  padding: 20px 10px;
  flex-direction: row;
  gap: 20px;
}

.mobile .mode .descGroup {
  width: 60%;
  align-items: flex-start;
}

.mobile .mode p {
  text-align: start;
}

.mobile .icon {
  width: 80px;
  min-width: 80px;
  height: 80px;
}
