.constructionSites {
  width: 100%;
  position: relative;
}

.addSiteContainer {
  width: fit-content;
  align-self: flex-end;
  display: flex;
  gap: 10px;
}

.addSiteContainer input {
  width: 300px;
  min-height: 100%;
  padding: 0 15px;
  background-color: var(--light);
  background: none;
  border: 1px solid var(--primary);
  border-radius: 30px;
  font-size: 13px;
}

.addSiteContainer input:focus {
  outline: none;
}

.addSiteToggle {
  width: 92px;
  display: flex;
  padding: 10px 11px;
  align-items: center;
  justify-content: space-around;
  border-radius: 30px;
  background-color: var(--neutral);
  color: var(--dark);
  font-size: 12px;
  transition: 0.2s;
}

.addSiteButton {
  width: fit-content;
}

.addSiteToggle:hover,
.addSiteToggle:focus {
  background-color: var(--primary);
  color: var(--light);
}

.addSiteToggle:hover .addIcon path,
.addSiteToggle:focus .addIcon path {
  fill: var(--light);
}

.sitesContent {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sitesList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  align-items: center;
  height: 88px;
  background-color: var(--light);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
}

.row:hover,
.row:focus {
  background-color: var(--neutral);
}

.row.active {
  background-color: var(--secondary);
}

.img {
  height: 100%;
  width: 17%;
  min-width: 90px;
  flex: none;
}

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

.desc {
  width: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.siteName {
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}

.time {
  font-size: 11px;
  color: var(--primary);
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.statusBadge.active {
  background-color: var(--neutral);
  color: var(--primary);
  padding: 2px 8px;
  border-radius: 7px;
  font-size: 10px;
}

.statusBadge.inactive {
  background-color: #dedede;
  color: #5c5c5c;
  padding: 2px 8px;
  border-radius: 7px;
  font-size: 10px;
}

.row.active .delete button svg path {
  fill: var(--primary);
}

.row.active .delete:hover svg path,
.row.active .delete:focus svg path {
  fill: var(--dark);
}

.delete {
  text-align: end;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.delete button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.delete button:hover svg path,
.delete button:focus svg path {
  fill: var(--primary);
}

.delete button svg path {
  fill: var(--secondary);
  transition: 0.2s;
}

@media (max-width: 1080px) {
  .paneOpen .delete {
    display: none;
  }
}

@media (max-width: 1230px) {
  .addSiteContainer.paneOpen {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .addSiteContainer.paneOpen input {
    width: 100%;
  }
}

/* -------------------- APP STYLES --------------------  */

.mobile .siteName {
  font-size: 12px;
}

.mobile .row {
  padding-right: 15px;
}

.mobile .desc {
  width: 100%;
  margin-left: 10px;
}

.mobile .delete {
  width: fit-content;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 10px;
}

.mobile .delete svg {
  width: 14px;
  height: 16px;
}

.mobile .addSiteContainer {
  width: 100%;
  justify-content: flex-end;
  gap: 5px;
}
