.incidentTrends {
  width: 100%;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: stretch;
}

/* -------------------- APP STYLES --------------------  */

.mobile .alertMetrics {
  order: 2;
}

.mobile .row {
  order: 1;
  flex-direction: column;
}
