.safetyTrendTable {
  width: 100%;
  overflow-x: auto;
}

.trendTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  table-layout: fixed;
}

.row {
  height: 48px;
}

/* Table Header */
.tableHeader {
  background-color: var(--primary);
  color: var(--light);
}

.tableHeader .row th {
  font-size: 14px;
  font-weight: 600;
}

.tableHeader th {
  font-size: 14px;
  font-weight: 600;
}

/* Table Body */
.tableBody {
  font-size: 13px;
  font-weight: 400;
}

.tableBody td {
  padding: 16px; /* Increase padding for more spacing */
  border: none;
}

.tableBody .row {
  text-align: center;
  background-color: var(--light);
}

.tableBody .row:hover {
  background-color: var(--neutral);
}

.row td:first-child,
.row th:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 10px;
}

.row td:last-child,
.row th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding-right: 10px;
}

/* First column (Timestamp) - bold & colored */
.timestamp {
  font-weight: 600;
  color: var(--primary);
}

.growth span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  min-width: 60px;
}

/* Growth column - green if positive, red if negative */
.growth.positive {
  color: #0fd7a5;
  font-weight: bold;
}

.growth.negative {
  color: #d21616;
  font-weight: bold;
}

.growth .arrow {
  flex-shrink: 0;
}
.growth.positive span .arrow {
  transform: rotate(-90deg); /* Upward */
}

.growth.negative span .arrow {
  transform: rotate(90deg); /* Downward */
}

/* Alert count column - #006684 */
.alertCount {
  color: var(--primary);
  font-weight: 600;
}

/* Container for Sync Status */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

/* Styling for the "Next Sync" Line */
.syncStatus {
  display: flex;
  align-items: center;
  color: #a8a8a8;
  font-family: Inter, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-align: right;
}

/* Loading icon spacing */
.syncIcon {
  margin-right: 5px;
  width: 14px; /* Adjust size if needed */
  height: 14px;
}

/* -------------------- APP STYLES --------------------  */

.mobile .trendTable {
  table-layout: auto;
}

.mobile .row {
  height: fit-content;
  padding: 10px 0;
}

.mobile td,
.mobile th {
  height: fit-content;
  padding: 15px 0;
}

.mobile .tableHeader .row th {
  font-weight: 500;
}

.mobile .tableBody tr td .timeValues {
  font-size: 11px;
  gap: 11px;
}
