.servicesContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 694px;
  max-height: 985px;
  background: var(--gradient-h);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.servicesContainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  min-height: 694px;
  max-height: 990px;
  background: linear-gradient(
    transparent 60%,
    rgba(255, 255, 255, 0.07) 66%,
    rgba(255, 255, 255, 0.2) 74%,
    rgba(255, 255, 255, 0.9) 95%,
    var(--light) 100%
  );
  pointer-events: none;
  z-index: 1;
}

.services {
  padding: 30px 50px 0 50px;
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.desc {
  color: var(--light);
  width: 32%;
  margin-top: 65px;
  font-weight: 300;
}

.desc h1 {
  font-size: 2.5rem;
  font-weight: 800;
  color: var(--light);
}

.desc p {
  margin-top: 22px;
}

.cards {
  width: 65%;
  height: 85vh;
  min-height: 640px;
  max-height: 675px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
}

.service {
  background-color: var(--light);
  border-radius: 15px;
  padding: 0 34px;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: 0.2s;
  flex-grow: 1;
}

.iconContainer {
  width: 100px;
  height: 100px;
  background-color: var(--dark);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service h2 {
  font-size: 20px;
  margin: 18px 0 10px 0;
}

@media (max-width: 940px) {
  .servicesContainer,
  .servicesContainer::after {
    height: 1000px;
    max-height: 1000px;
  }

  .services {
    padding: 30px 70px 0 70px;
    flex-direction: column;
    gap: 50px;
  }

  .desc {
    width: 100%;
  }

  .cards {
    width: 100%;
  }
}

@media (max-width: 671px) {
  .servicesContainer,
  .servicesContainer::after {
    height: 1700px;
    max-height: 1700px;
  }

  .services {
    padding: 30px 50px 0 50px;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .service {
    padding: 30px 34px;
  }
}

@media (max-width: 520px) {
  .services {
    padding: 30px 35px 0 35px;
  }
}
