.navpane {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  padding: 20px 17px 20px 17px;
  background-color: var(--neutral);
  font-size: 13px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}

.navpane img {
  width: 50px;
  height: 50px;
}

.list {
  width: 100%;
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
}

.navlink {
  width: 100%;
  height: 40px;
  padding: 14px 15px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.navlink.active {
  background-color: var(--light);
  font-weight: 500;
}

.navlink:hover,
.navlink:active {
  background-color: var(--background-color);
}

.navlink p {
  width: 130px;
}

.arrowIcon {
  transition: transform 0.2s ease;
}

.rotate {
  transform: rotate(90deg);
}

li ul {
  margin: 15px 0 12px 0;
}

.subNavlink {
  margin-left: 25px;
  height: 35px;
  display: flex;
  align-items: center;
}

.subNavlink:hover {
  color: var(--primary);
}

.subNavlink.active {
  font-weight: 500;
}

.sectionHeader {
  margin-left: 5px;
  padding-top: 10px;
  height: 33px;
  font-size: 11px;
  font-weight: 700;
  color: var(--primary);
}

.bottomLinks {
  width: 100%;
  margin-top: auto;
  padding-top: 7px;
  border-top: 1px solid var(--primary);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

/* -------------------- APP STYLES --------------------  */

.mobile {
  top: 0;
  left: -80%;
  width: 80%;
  height: 100%;
  font-size: 16px;
}

.navpaneHeader {
  width: 100%;
  display: flex;
  align-items: center;
}

.navpaneHeader .desc {
  width: 100%;
  margin: 3px 0 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navpaneHeader .desc h2 {
  font-size: 15px;
  font-weight: 500;
}

.navpaneHeader .desc p {
  color: var(--primary);
  font-size: 12px;
  font-weight: 500;
}

.mobile .list {
  margin-top: 20px;
}

.mobile .navlink {
  height: 50px;
}

.mobile .navlink p {
  width: 100%;
  padding: 0 20px;
}

.mobile .bottomLinks {
  margin-top: 0;
  margin-bottom: 35px;
}

.mobile .changeMode {
  padding: 20px 40px;
  margin: auto auto 10px auto;
}

@media (max-width: 335px) {
  .mobile {
    font-size: 14px;
  }
}
