.pwaLayout {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.defaultOverlay {
  background-color: transparent !important;
  overflow: auto;
}

.paneOverlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0; /* Ensure the overlay is above other content */
  pointer-events: none; /* Allow clicks to pass through when opacity is 0 */
}

.main {
  margin: 10px 10px 0 10px;
  padding-bottom: 90px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-x: hidden;
}

.main h1 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.28px;
  margin-bottom: 20px;
}

.backButton {
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.backButton svg {
  width: 14px;
  height: 28px;
  transform: scaleX(-1);
}

.content {
  flex-grow: 1;
  overflow-y: hidden;
  transition: 0.2s;
}

.footer {
  width: 100%;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--neutral);
  padding: 0 15px;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 21;
  transition: 0.3s ease;
}

.footer.navPaneOpen {
  background-color: var(--background-color);
}

.footerItem {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerItem.active,
.footerItem:active {
  background-color: var(--primary);
}

.footerItem.active path,
.footerItem:active path {
  fill: var(--background-color);
}

.footerItem.active path:nth-of-type(1),
.footerItem:active path:nth-of-type(1) {
  stroke: var(--background-color);
}

.navPaneOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.navPaneOverlay.active {
  opacity: 1;
  pointer-events: auto;
}

.closeNavPaneButton {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.open {
  transform: translateX(100%);
}

.slidingPane {
  height: fit-content;
  position: relative;
  background: var(--light);
  padding: 0 0 35px 0;
  margin-top: 65px;
  border-radius: 52px 52px 0 0;
  box-shadow: none !important;
  font-size: 13px;
  pointer-events: all;
}

.infoClose.slidingPane {
  display: none;
}

.slidingPane > div {
  overflow-y: visible;
  overflow-x: hidden;
}

.slidingPane h1 {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1.28px;
  text-align: center;
  margin-bottom: 30px;
}

.slidingPane h2 {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0.72px;
}

.infoPaneBackButton {
  position: fixed;
  top: -55px;
  left: 14px;
  width: fit-content;
  display: flex;
  align-items: center;
  padding: 10px;
}

.infoPaneBackButton svg {
  width: 14px;
  height: 28px;
  z-index: 50;
  transform: scaleX(-1);
}
