.button {
  width: fit-content;
  padding: 0 40px;
  border-radius: 22px;
  text-wrap: nowrap;
  transition: 0.2s;
  display: flex;
  align-items: center;
  gap: 5px;
}

/* SIZES */

.medium {
  height: 50px;
}

.large {
  height: 55px;
}
.large.icon {
  padding: 0 30px;
}

.small {
  height: 32px;
  padding: 6px 20px;
  font-size: 13px;
}

/* FILLED COLORS */

.dark.filled {
  background-color: var(--dark);
}

.dark:hover {
  background-color: var(--primary);
}

.primary.filled {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--dark);
}

/* OUTLINED COLORS */

.dark.outlined {
  background-color: transparent;
  border: 3px solid var(--dark);
  color: var(--dark);
}

.dark.outlined:hover {
  background-color: var(--dark);
  color: var(--light);
}

.primary.outlined {
  background-color: transparent;
  border: 3px solid var(--primary);
  color: var(--primary);
}

.primary.outlined:hover {
  background-color: var(--primary);
  color: var(--light);
}
