/* LARGE */

.duration.large {
  line-height: 28px;
  display: flex;
  align-items: center;
  gap: 7px;
}

.large .hours,
.large .minutes {
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  gap: 3px;
}

.large .hours .number,
.large .minutes .number {
  line-height: normal;
}

.large .hours .number {
  font-size: 39px;
  font-weight: 800;
}

.large .minutes .number {
  font-size: 31px;
  font-weight: 800;
}

/* SMALL */

.duration.small {
  line-height: normal;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.small .hours,
.small .minutes,
.small .seconds {
  font-size: 11px;
  display: flex;
  align-items: flex-end;
  gap: 1px;
}

.small .hours .number,
.small .minutes .number,
.small .seconds .number {
  font-size: 13px;
}

/* -------------------- APP STYLES --------------------  */

.mobile.large {
  font-size: 13px;
  gap: 3px;
}

.mobile.large .hours,
.mobile.large .minutes {
  gap: 1px;
}

.mobile.large .hours .number {
  font-weight: 700;
  font-size: 30px;
}

.mobile.large .minutes span:not(.number) {
  line-height: normal;
  margin-bottom: 3px;
}

.mobile.large .minutes .number {
  font-weight: 700;
  font-size: 25px;
}
