.percentage {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percentage.hasLabel2 {
  align-items: flex-start;
}

.percentage .label {
  color: var(--primary);
}

.percentage div {
  display: flex;
  align-items: center;
}

.number {
  line-height: 1.2em;
}

.symbol {
  margin: 0 0 0 3px;
  line-height: normal;
}

.label2 {
  margin: 0 3px 0 0;
}
