.timestamp {
  width: 50px;
  min-width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullTime {
  display: flex;
  align-items: center;
  gap: 1px;
}

.fullTime .time {
  font-size: 14px;
  font-weight: 500;
}

.fullTime .amPm {
  font-size: 11px;
  font-weight: 300;
}

.date {
  font-size: 11px;
  font-weight: 300;
}

/* -------------------- APP STYLES --------------------  */

.mobile.timestamp {
  width: 32px;
  min-width: 0;
}

.mobile .time {
  font-size: 13px;
}

.mobile .amPm {
  font-size: 10px;
}

.mobile .date {
  font-size: 9px;
  font-weight: 400;
  white-space: nowrap;
}

@media (max-width: 340px) {
  .mobile.timestamp {
    width: 29px;
  }
  .mobile .fullTime {
    line-height: normal;
    gap: 0;
    flex-direction: column;
  }
  .mobile .time {
    font-size: 12px;
  }
}
